.Admin-Nav{
    float:left;
    width: 200px;
    height:100vh;
    background: $sand;
    border-right:2px solid darken($sand,20%);
    a{
        border-bottom: 1px solid darken($sand,20%);
        display: block;
        font-size: 24px;
        text-align: center;
        padding: 10px 0;
    }
    .active{
        background: darken($sand, 20%);
        color: #fff;
    }
}


