.Menu{
    width: 180px;
    height:100vh;
    float:left;
    border-right: 5px solid $light-red;
    box-sizing: border-box;
    .category{
        border-radius: 15px;
        width: 100px;
        height:100px;
        margin: 10px auto;
        border: 2px solid $light-yellow;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        transition: .5s;
    }
    .active{
        transform: scale(1.1);
    }
    img{
        width: 100%;
    }
    h3{
        text-align: center;
        width: 100%;
        font-size: 15px;
        cursor:pointer;
        user-select: none;
    }
}